[Unit]
Description=Redis container for Nextcloud

[Service]
Restart=on-failure
RestartSec=5

[Container]
ContainerName=nextcloud-redis
AutoUpdate=registry
Image=docker.io/library/redis:alpine
Pod=nextcloud.pod
