[Unit]
Description=Collabora Online container for Nextcloud

[Service]
Restart=on-failure
RestartSec=5

[Container]
ContainerName=nextcloud-collabora
AutoUpdate=registry
Environment="aliasgroup1=https://cloud\\.ikolomiko\\.com:443"
Image=docker.io/collabora/code:latest
Pod=nextcloud.pod
