[Container]
Pod=immich.pod
ContainerName=immich-db
Environment="POSTGRES_INITDB_ARGS=--data-checksums"
EnvironmentFile=immich.env
Secret=immich-db-password,type=env,target=POSTGRES_PASSWORD
Image=ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
ShmSize=128m
HealthCmd=["/bin/bash", "/health.sh"]
HealthStartPeriod=5m
HealthInterval=30s
HealthTimeout=5s
HealthRetries=5
Notify=healthy
Volume=./immich-database-healthcheck:/health.sh:z
Volume=%D/immich/database:/var/lib/postgresql/data

[Service]
Restart=on-failure
RestartSec=5
ExecStartPre=/bin/mkdir -p %D/immich/database

