[Unit]
Description=RustDesk HBBR (Podman)

[Service]
ExecStartPre=/bin/mkdir -p %D/rustdesk
Restart=on-failure
RestartSec=5

[Container]
ContainerName=rustdesk-hbbr
AutoUpdate=registry
Volume=%D/rustdesk:/root
Image=docker.io/rustdesk/rustdesk-server:latest
Exec=hbbr
PublishPort=21117:21117
