[Unit]
Description=RustDesk HBBS (Podman)
Requires=rustdesk-hbbr.service
After=rustdesk-hbbr.service

[Service]
ExecStartPre=/bin/mkdir -p %D/rustdesk
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target

[Container]
ContainerName=rustdesk-hbbs
AutoUpdate=registry
Volume=%D/rustdesk:/root
Image=docker.io/rustdesk/rustdesk-server:latest
Exec=hbbs
PublishPort=21115:21115
PublishPort=21116:21116
PublishPort=21116:21116/udp
